MATCH (regime:regime {name: '{{ args[0] }}'})-[:HAS*]-(baseline:baseline {name: '{{ args[1] }}'}),
    (control_regime:regime {name: '{{ args[2] }}'})-[:HAS*]->(control:control {name: '{{ args[3] }}'})
MERGE (baseline)-[:REQUIRES { {% for p in properties %}{{ p[0] }}: '{{ p[1] }}'{% if not loop.last %}, {% endif %}{% endfor %} }]->(control)