MATCH (control_regime:regime {name: '{{ args[2] }}'}){% if args[4] %}-[:HAS*]->(control_baseline:baseline {name: '{{  args[4] }}'}){% endif %}
MERGE {% if args[4] %}(control_baseline){% else %}(control_regime){% endif %}-[:HAS]->(control:control {name: '{{ args[3] }}'})
WITH 1 as dummy
MATCH (regime:regime {name: '{{ args[0] }}'})-[:HAS*]-(baseline:baseline {name: '{{ args[1] }}'}),
    (control_regime:regime {name: '{{ args[2] }}'})-[:HAS*]->(control {name: '{{ args[3] }}'})
MERGE (baseline)-[:REQUIRES { {% for p in properties %}{{ p[0] }}: '{{ p[1] }}'{% if not loop.last %}, {% endif %}{% endfor %} }]->(control)