MATCH (regime:regime {name: '{{ args[0] }}'})-[:HAS*]-(baseline:baseline {name: '{{ args[1] }}'}) WITH regime, baseline
MATCH (regime)-[:HAS*]->(control:control {name: '{{ args[2] }}'}) WITH baseline, control
MERGE (baseline)-[:DEFINES]->(control)