MATCH (mapping_regime:regime {name: '{{ names['mapping_regime'] }}'})-[:HAS*]->(mapping_baseline:baseline {name: '{{ names['mapping_baseline'] }}'})
WITH mapping_baseline
MATCH (mapped_regime:regime {name: '{{ names['mapped_regime'] }}'})-[:HAS*]->(mapped_baseline:baseline {name: '{{ names['mapped_baseline'] }}'})
WITH mapping_baseline, mapped_baseline
MATCH (mapping_baseline)-[:HAS*]->(mapping_baseline_control:baseline {name: '{{ names['mapping_baseline_control'] }}'})
WITH mapping_baseline_control, mapped_baseline
MERGE (mapping_baseline_control)-[:{{ names['relationship'] }}]->(mapped_baseline)