MATCH (n { {% for l in lhs.keys() %}{{ l }}: '{{ lhs[l] }}'{% if not loop.last %}, {% endif %}{% endfor %} }),
      (m { {% for r in rhs.keys() %}{{ r }}: '{{ rhs[r] }}'{% if not loop.last %}, {% endif %}{% endfor %} })
MERGE (n)-[:{{ relationship }} { {% for p in properties %}{{ p[0] }}: '{{ p[1] }}'{% if not loop.last %}, {% endif %}{% endfor %} }]->(m)